@import '../css/reset';
@import 'mixins';
@import 'header';
@import 'main';
@import 'footer';

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8fafd;
    overflow-x: hidden;
}
